{% extends "base.html" %}



{% block content %}

<div>
<table class="table table-striped" >
  <tr>
    <th width="5%">請款單號</th>
    <th width="20%">客戶名稱</th>
    <th width="10%">統一編號</th>
    <th width="10%">聯絡電話</th>
    <th width="10%">傳真</th>
    <th >地址</th>

  </tr>
{% for record in object_list %}
  <tr>
    <td>{{ record.bill_number }}</td>

    <td><a href='{{ record.get_absolute_url }}'>{{ record.customer }}</a></td>

    <td>{{ record.customer.unikey }}</td>
    <td>{{ record.customer.phone }}</td>
    <td>{{ record.customer.faxno }}</td>
    <td>{{ record.customer.address }} </td>
  </tr>
{% endfor %}
</table>
<div>


{% endblock content %}
