{% extends "base.html" %}



{% block content %}

<h3 align="center">
未付款清單
</h3>
<div>
<table class="table table-striped" >
  <tr>
    <th width="5%">
    </th>
    <th width="5%">請款單號</th>
    <th width="15%">客戶名稱</th>
    <th width="8%">統一編號</th>
    <th width="10%">聯絡電話</th>
    <th width="10%">傳真</th>
    <th align='right' width="8%">請款金額</th>
    <th >地址</th>
  </tr>
{% for record in object_list %}
  <tr>

    <td>{% if record.is_valid %}
      <strong class="label label-danger">作廢</strong>
    {% endif %}

  </td>
  <td>
      {{ record.bill_number }}</td>
    <td>
      {% if  record.billitem_set.all.count   %}
      <span class="badge bg-blue">
      {{ record.billitem_set.all.count }}
      </span>
      {% endif %}
      <a href='{{ record.get_absolute_url }}'>{{ record.customer }}</a>

    </td>
    <td>{{ record.customer.unikey }}</td>
    <td>{{ record.customer.phone }}</td>
    <td>{{ record.customer.faxno }}</td>
    <td align='right' >{{ record.get_grand_amount }} </td>
    <td>{{ record.customer.address }} </td>
  </tr>
{% endfor %}
</table>
</div>

{% include "pageine.html" %}

{% if messages %}
<p class="messages">
  <div class='alert alert-success text-center'>
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
    </div>
</p>
{% endif %}

{% endblock content %}
