{% extends "base.html" %}



{% block content %}
<h3 align="center">
未付款清單
</h3>
<div>
<table class="table table-striped" >
  <tr>
    <th width="5%"></th>
    <th width="5%">請款單號</th>
    <th width="20%">客戶名稱</th>
    <th width="8%">統一編號</th>
    <th width="8%">聯絡電話</th>
    <th width="8%">傳真</th>
    <th align='right' width="10%">請款金額</th>
    <th >地址</th>
  </tr>
{% for record in object_list %}
  <tr>

    <td>{% if record.is_valid %}
      <strong class="label label-danger">作廢</strong>
    {% endif %}</td>
  <td>
      {{ record.bill_number }}</td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.customer }}</a></td>
    <td>{{ record.customer.unikey }}</td>
    <td>{{ record.customer.phone }}</td>
    <td>{{ record.customer.faxno }}</td>
    <td align='right' >{{ record.get_grand_amount }} </td>
    <td>{{ record.customer.address }} </td>
  </tr>
{% endfor %}
</table>
</div>
<div>
  <span align="center">
      <div class="pagination">
         <ul class="pager">
            <span>{{ title }}</span>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">上一頁</a></li>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">下一頁</a></li>
                {% endif %}
            </span>
          </ul>
      </div>
  </span>
</div>

{% endblock content %}
