{% extends "base.html" %}


{% block content %}

<h1 align='center'>
{{ title }}
</h1>
<div class="container">
    <div class="col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-2" >
    <form action='' method="POST"  enctype="multipart/form-data" >{% csrf_token %}
    {{  form.as_p }}
    <input type="submit" class="btn btn-primary form-control" value="儲存"/>
    </form>
    </div>
</div>
    {% if messages %}
    <p class="messages">
      <div class='alert alert-success text-center'>
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        </div>
    </p>

    {% endif %}




{% endblock content %}
