{% extends "base.html" %}

{% block content %}


{% include "searchbar.html" %}

<div>
<table class="table table-striped" >
  <tr>
    <th width="5%">Id</th>
    <th width="5%">Mark</th>
    <th width="20%">客戶名稱</th>
    <th width="10%">統一編號</th>
    <th width="10%">聯絡電話</th>
    <th width="10%">傳真</th>
    <th >地址</th>

  </tr>
{% for record in object_list %}
  <tr>
    <td>{{ record.id }}</td>
    <td>
      {% if record.dailylog_set.all.norequest.count  %}
      <span class="badge bg-blue">
      {{ record.dailylog_set.all.norequest.count }}
      </span>
      {% endif %}
      {% if record.invalid %}
      <strong class="label label-danger">停用</strong>
      {% endif %}</td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.title }}</a></td>
    <td>{{ record.unikey }}</td>
    <td>{{ record.phone }}</td>
    <td>{{ record.faxno }}</td>
    <td>{{ record.address }} </td>
  </tr>
{% endfor %}
</table>
</div>

{% include "pageine.html" %}

{% endblock content %}
