{% extends "base.html" %}



{% block content %}
<script type="text/javascript">
function CreateOnSubmit( str ){

  var items = document.getElementsByName("dailylogs");
  var schecked = 0;
  for( x=0; x < items.length; x++ ){
    if(items[x].checked== true){
        schecked += 1;
      }
  }
  // window.alert( schecked );

  if(schecked==0){
      window.alert("沒有選擇要請款的項目喔");
      return false;
  }else{
    var iChoose = confirm("勾選的項目是否確定為要請款的資料？");

    if(!iChoose){
      return false;
    }else{

      document.getElementById("createform").action = "/bills/checkout/"+{{ customer.id }}+"/";
      createform.submit();

    }
  }
  return true;
}
</script>





<strong>客戶編號：</strong>{{ object.id }}<br>
<strong>客戶名稱：</strong>{{ object.title }}<br>
<strong>統一編號：</strong>{{ object.unikey }}<br>
<strong>電話：</strong>{{ object.phone }}<br>
<strong>傳真：</strong>{{ object.faxno }}<br>
<strong>地址：</strong>{{ object.address }}<br>
<a href="{{ instance.get_absolute_url }}edit" class="btn btn-warning" role="button">Edit</a>
<hr>

<!--
<form   action="" method="POST"> -->

    <div align="center"  >
      <h2><strong>未請款明細</strong></h2>
    </div>
<form id="createform" action="" method="POST" onsubmit="return CreateOnSubmit({{ bill.id }})" >{% csrf_token %}
    <div >
      <input type="text" id="customer_id" name="customer" value="{{ object.id }}" hidden="True"/> 
      <button type="submit"  class="btn btn-success form-control">請款</button>
    </div>

  <table class="table table-striped" >
    <tr>
      <th width="5%">項次</th>
      <th width="15%">工作日期</th>
      <th width="15%">地點起迄</th>
      <th width="20%">工作描述</th>
      <th width="10%">數量</th>
      <th width="10%">單價</th>
      <th width="10%">金額</th>
      <th >備註事項</th>
    </tr>
  {% for dailylog in object.dailylog_set.all.paied %}
    <tr>
        <td><input type="checkbox" name="dailylogs" value="{{ dailylog.id }}" />{{ forloop.counter }}</td>
        <td>{{ dailylog.work_date }}</td>
        <td>{{ dailylog.start_at }}-{{ dailylog.end_with }}</td>
        <td>{{ dailylog.opreateDesc }}</td>
        <td>{{ dailylog.quantity }}{{ dailylog.uom }}</td>
        <td>{{ dailylog.uniprice }}</td>
        <td>{{ dailylog.get_amount }}</td>
        <td>{{ dailylog.notes }}</td>
    </tr>
  {% endfor %}
  </table>
</form>
{% endblock content %}
