
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-users"></i> 客戶 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/customers">客戶清單</a></li>
            <li><a href="/customers/create/">新增客戶</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> 工作日誌  <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dailywork">工作日誌清單</a></li>
            <li><a href="/dailywork/create/">新增工作日誌</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-file-text"></i> 請款單 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/bills">未付款清單</a></li>
            <li><a href="/bills/bill_genegerate/">結轉請款單</a></li>
            <li><a href="/bills/print_bills/">批次列印請款單</a></li>
          </ul>
        </li>

    </div>

  </div>
  <!-- /sidebar menu -->
