{% extends "base.html" %}

{% block content %}


{% include "searchbar.html" %}

<div>
<table class="table table-striped" >
  <tr>
    <th width="8%">狀態</th>
    <th width="8%">工作日期</th>
    <th width="15%">客戶名稱</th>
    <th width="8%">地點起迄</th>
    <th width="25%">內容描述</th>
    <th align='right' width="5%">數量</th>
    <th align='right' width="5%">單價</th>
    <th >備註事項</th>
  </tr>
{% for record in object_list %}
  <tr>
    <td>
      {% if record.payrequest %}
      <strong class="label label-danger">已請款</strong>
      {% endif %}
      {% if record.is_freecharge %}
      <strong class="label label-success">免費</strong>
      {% endif %}



    </td>
    <td>{{ record.work_date| date:"Y-m-d"  }}</td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.customer }}</a></td>
    <td>{{ record.start_at }}-{{ record.end_with }}</td>
    <td>{{ record.opreateDesc }}</td>
    <td align='right'>{{ record.quantity }}{{ record.uom }}</td>
    <td align='right'>{{ record.uniprice }}</td>
    <td>{{ record.notes }}</td>
  </tr>
{% endfor %}
</table>
</div>
{% include "pageine.html" %}

{% endblock content %}
